<div class="col-10 m-auto mt-5 mat-app-background">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table1">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef class="letra"> Id </th>
        <td mat-cell *matCellDef="let element" class="letra2"> {{element.id}} </td>
      </ng-container>
    
      <!-- Active Column -->
      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef class="letra"> Activo </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-icon class="color-blue-water" *ngIf="element.active"> check_circle </mat-icon>
          <mat-icon class="color-gradient-black" *ngIf="!element.active"> cancel </mat-icon>         
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="letra"> Nombre </th>
        <td mat-cell *matCellDef="let element" class="letra2"> {{element.name}} </td>
      </ng-container>
    
      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef class="letra"> Apellido </th>
        <td mat-cell *matCellDef="let element" class="letra2"> {{element.lastName}} </td>
      </ng-container>

      <!-- nick Column -->
      <ng-container matColumnDef="nick">
        <th mat-header-cell *matHeaderCellDef class="letra"> Nick </th>
        <td mat-cell *matCellDef="let element" class="letra2"> {{element.nick}} </td>
      </ng-container>

      <!-- profil Column -->
      <ng-container matColumnDef="profile">
        <th mat-header-cell *matHeaderCellDef class="letra"> Perfil </th>
        <td mat-cell *matCellDef="let element" class="letra2"> {{element.profile}} </td>
      </ng-container>

      <!-- lastChange Column -->
      <ng-container matColumnDef="lastChange">
        <th mat-header-cell *matHeaderCellDef class="letra"> Ultimos Cambios </th>
        <td class="p-2" mat-cell *matCellDef="let element">
          <mat-menu #menu="matMenu" class="mat-app-background">
            <div class="p-2 letra2">
              <p>
                . Inicio de sesion hoy a la 6:00 pm 
              </p>
              <p>
                . Registro de usuario
              </p>
              <p>
                . Inicio de sesion hace 2 días
              </p>
              <p>
                . Inicio de sesion hoy
              </p>
            </div>
          </mat-menu>

          <button
            style="border: 1px solid #53AFB5; border-radius: 10px; width: 60%;"
            class="letra2"
            mat-menu-item
            [matMenuTriggerFor]="menu"
            aria-label="Más opciones"
            matTooltip="Más opciones"
          >
            lista de cambios <mat-icon>expand_more</mat-icon>  
          </button>

        </td>
      </ng-container>

      <!-- actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="letra"> Acciones </th>
        <td mat-cell *matCellDef="let element">
          <mat-menu #menu="matMenu" >
            <button
              mat-menu-item
              aria-label="Otra acción"
            >
              <mat-icon class="color-blue-water">edit</mat-icon> Editar
            </button>

            <button
              mat-menu-item
              aria-label="Otra acción"
            >
              <mat-icon class="color-blue-water">close</mat-icon> Quitar de staff
            </button>

            <button
              mat-menu-item
              aria-label="Otra acción"
            >
              <mat-icon class="color-blue-water">delete</mat-icon> Baja
            </button> 
          </mat-menu>

          <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            aria-label="Más opciones"
            matTooltip="Más opciones"
          >
            <mat-icon class="color-blue-water">menu</mat-icon>
          </button>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns" style="color: #fff;" class="bg-blue-water"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>




  