<div class="row m-auto mt-5">
    <button *ngFor="let plato of PLATILLOS;" class="col-1 m-auto p-5 color-white general"
      mat-raised-button
      [ngStyle]="{backgroundColor: plato.color}"
    >
      {{plato.nombre}}
    </button>
</div>


<div id="carouselExampleSlidesOnly" class="carousel slide m-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" style="background-color: aqua;">
      <h2 class="d-block w-100"> Hola </h2>
    </div>
    <div class="carousel-item" style="background-color:brown" *ngFor="let prom of PROMOCION">
      <h2 class="d-block w-100"> {{prom.prom}} </h2>
    </div>
  </div>
</div>