<div class="row m-auto mt-5">
    <button *ngFor="let plato of PLATILLOS;" class="col-1 m-auto p-5 color-white general"
      mat-raised-button
      [ngStyle]="{backgroundColor: plato.color}"
    >
      {{plato.nombre}}
    </button>
</div>

<div class="row m-auto mt-1">
    <div class="slider col-11 m-auto mt-2 mb-4 mat-app-background slideSec" id="slider">
        <ul class="slides">
          <li class="slide" *ngFor="let prom of PROMOCION">
            <p>{{prom.prom}}</p>
          </li>
        </ul>
    </div>
</div>